<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.AdminMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.Admin">
        <id column="aid" property="aid" jdbcType="BIGINT" />
        <result column="aname" property="aname" jdbcType="VARCHAR" />
        <result column="apassword" property="apassword" jdbcType="VARCHAR" />
        <result column="amail" property="amail" jdbcType="VARCHAR" />
        <result column="adate" property="adate" jdbcType="TIMESTAMP" />
        <result column="aphone" property="aphone" jdbcType="VARCHAR" />
    </resultMap>

    <select id="login" resultMap="BaseResultMap" parameterType="xechy.work.model.Admin">
        SELECT aid,aname FROM admin
        where aname=#{aname} and apassword=#{apassword};
    </select>

    <update id="update" parameterType="xechy.work.model.Admin">
        UPDATE admin SET aname=#{aname},mail=#{amail},aphone=#{aphone}
        WHERE aid=#{aid};
    </update>

    <update id="updatePassword" parameterType="xechy.work.model.Admin">
        UPDATE admin SET apassword=#{apassword}
        WHERE aid=#{aid};
    </update>

</mapper>