<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.BusinessMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.Business">
        <id column="bid" property="bid" jdbcType="BIGINT" />
        <result column="bname" property="bname" jdbcType="VARCHAR" />
        <result column="storeName" property="storeName" jdbcType="VARCHAR" />
        <result column="bpassword" property="bpassword" jdbcType="VARCHAR" />
        <result column="bmail" property="bmail" jdbcType="VARCHAR" />
        <result column="baddress" property="baddress" jdbcType="VARCHAR" />
        <result column="bdate" property="bdate" jdbcType="TIMESTAMP" />
        <result column="bphone" property="bphone" jdbcType="VARCHAR" />
        <result column="bPicture" property="bPicture" jdbcType="VARCHAR" />
        <!--一对多的关系-->
        <collection property="border" ofType="Order">
            <id column="oid" property="oid" jdbcType="BIGINT" />
        </collection>

        <collection property="bgoods" ofType="Goods">
            <id column="gid" property="gid" jdbcType="BIGINT" />
        </collection>
    </resultMap>

    <select id="searchById" resultMap="BaseResultMap" parameterType="long">
      SELECT * FROM business WHERE bid=#{bid};
    </select>

    <select id="login" resultMap="BaseResultMap" parameterType="xechy.work.model.Business">
        SELECT bid,bname FROM business where bname = #{bname} and bpassword = #{bpassword}
    </select>

    <insert id="save" parameterType="xechy.work.model.Business">
        INSERT INTO business (bname,storeName,bpassword,bphone,bmail,bdate,baddress,bPicture)
        VALUES (#{bname},#{storeName},#{bpassword},#{bphone},#{bmail},#{bdate},#{baddress},#{bPicture});
    </insert>

    <select id="show" resultMap="BaseResultMap" parameterType="Long">
        SELECT * from business where bid=#{bid};
    </select>

    <update id="updatePassword" parameterType="xechy.work.model.Business">
        UPDATE business SET bpassword=#{bpassword}
        WHERE bid=#{bid};
    </update>

    <update id="update" parameterType="xechy.work.model.Business">
        UPDATE business SET bname=#{bname},bmail=#{bmail},baddress=#{baddress},
        bphone=#{bphone} WHERE bid=#{bid};
    </update>

    <select id="receivePassword" resultMap="BaseResultMap" parameterType="xechy.work.model.Business">
        SELECT bid from business where bmail=#{bmail} AND bphone=#{bphone};
    </select>

    <select id="searchByNames" resultMap="BaseResultMap" parameterType="String">
        SELECT id,storeName,bdate FROM business WHERE storeName LIKE %#{storeName}%;
    </select>

    <select id="searchAll" resultMap="BaseResultMap" >
        SELECT * FROM business;
    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE * FROM business WHERE bid=#{bid};
    </delete>

    <select id="checkName" resultMap="BaseResultMap" parameterType="String">
        SELECT bid FROM business WHERE bname=#{bname};
    </select>

    <select id="checkStoreName" resultMap="BaseResultMap" parameterType="String">
        SELECT bid FROM business WHERE storeName=#{storeName};
    </select>

    <select id="searchByAddress" resultMap="BaseResultMap" parameterType="String">
        SELECT bid,bname,bPicture FROM business WHERE baddress LIKE '%' #{baddress} '%';
    </select>

</mapper>