<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.Goods">
        <id column="gid" property="gid" jdbcType="INTEGER" />
        <result column="gname" property="gname" jdbcType="VARCHAR" />
        <result column="gdescribe" property="gdescribe" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="gdate" property="gdate" jdbcType="TIMESTAMP" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <!--多对一的关系-->
        <association property="business" javaType="xechy.work.model.Business">
            <id column="bid" property="bid" jdbcType="INTEGER" />
        </association>
        <association property="user" javaType="xechy.work.model.User">
            <id column="id" property="id" jdbcType="INTEGER" />
        </association>
    </resultMap>

    <delete id="deleteById" parameterType="Long">
          DELETE FROM goods WHERE gid=#{gid};
    </delete>

    <insert id="save" parameterType="xechy.work.model.Goods">
        INSERT INTO goods (gname,gdescribe,price,bid,gdate,picture)
        VALUES (#{gname},#{gdescribe},#{price},#{bid},#{gdate},#{picture});
    </insert>

    <update id="update" parameterType="xechy.work.model.Goods">
        UPDATE goods SET * WHERE gid=#{gid} AND bid=#{bid};
    </update>

    <select id="show" resultMap="BaseResultMap" parameterType="xechy.work.model.Goods">
        SELECT * FROM goods WHERE gid=#{gid};
    </select>

    <select id="searchsById" resultMap="BaseResultMap" parameterType="long">
        SELECT gid,gname,gdescribe,price,picture FROM goods WHERE bid=#{bid};
    </select>

    <select id="searchByUId" resultMap="BaseResultMap" parameterType="long">
        SELECT gid,gname,price,bid FROM goods WHERE id=#{id};
    </select>

    <select id="searchByOId" resultMap="BaseResultMap" parameterType="long">
        SELECT picture FROM goods WHERE gid=#{gid};
    </select>

    <update id="addID" parameterType="xechy.work.model.Goods">
        UPDATE goods SET id=#{id} WHERE gid=#{gid};
    </update>

    <update id="deleteUId" parameterType="long">
        UPDATE goods SET id=NULL WHERE bid=#{bid};
    </update>

    <!-- 分页SQL语句 -->
    <select id="selectProductsByPage" parameterType="INTEGER" resultMap="BaseResultMap">
        select
        gid,gname,gdescribe,price,gdate,picture
        from goods WHERE bid=#{bid}
        limit #{startPos},#{pageSize};
    </select>
    <!-- 取得记录的总数 -->
    <select id="getProductsCount" resultType="INTEGER">
        SELECT COUNT(*) FROM goods WHERE bid=#{bid};
    </select>

    <select id="searchAll" resultMap="BaseResultMap">
        SELECT * FROM goods ;
    </select>

</mapper>