<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.Goods">
        <id column="gid" property="gid" jdbcType="INTEGER" />
        <result column="gname" property="gname" jdbcType="VARCHAR" />
        <result column="gdescribe" property="gdescribe" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="gdate" property="gdate" jdbcType="TIMESTAMP" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <!--多对一的关系-->
        <association property="business" javaType="xechy.work.model.Business">
            <id column="bid" property="bid" jdbcType="INTEGER" />
        </association>
        <association property="user" javaType="xechy.work.model.User">
            <id column="id" property="id" jdbcType="INTEGER" />
        </association>
    </resultMap>

    <delete id="deleteById" parameterType="Long">
          DELETE FROM goods WHERE gid=#{gid};
    </delete>

    <insert id="save" parameterType="xechy.work.model.Goods">
        INSERT INTO goods (gname,gdescribe,price,bid,gdate,picture)
        VALUES (#{gname},#{gdescribe},#{price},#{bid},#{gdate},#{picture});
    </insert>

    <update id="update" parameterType="xechy.work.model.Goods">
        UPDATE goods SET * WHERE gid=#{gid} AND bid=#{bid};
    </update>

    <select id="show" resultMap="BaseResultMap" parameterType="xechy.work.model.Goods">
        SELECT * FROM goods WHERE gid=#{gid};
    </select>

    <select id="searchByNames" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM goods WHERE 1 = 1
         <if test="gname != null and gname !=''">
          AND gname LIKE % #{gname} %
         </if>
        ORDER BY gid;
    </select>

    <select id="searchsById" resultMap="BaseResultMap" parameterType="long">
        SELECT gid,gname,gdescribe,price,picture FROM goods WHERE bid=#{bid};
    </select>

    <select id="searchByUId" resultMap="BaseResultMap" parameterType="long">
        SELECT gid,gname,price,bid FROM goods WHERE id=#{id};
    </select>

    <select id="searchByBid" resultMap="BaseResultMap" parameterType="long">
        SELECT gid,gname,picture,gdescribe FROM goods WHERE bid=#{bid};
    </select>

    <update id="addID" parameterType="xechy.work.model.Goods">
        UPDATE goods SET id=#{id} WHERE gid=#{gid};
    </update>

</mapper>