<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.Order">
        <id column="oid" property="oid" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="odate" property="odate" jdbcType="DATE"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="gname" property="gname" jdbcType="VARCHAR"/>
        <!--多对一的关系-->

        <association property="id" javaType="xechy.work.model.User">
            <id column="id" property="id" jdbcType="INTEGER"/>
        </association>
        <association property="bid" javaType="xechy.work.model.Business">
            <id column="bid" property="bid" jdbcType="INTEGER"/>
        </association>
    </resultMap>


    <delete id="deleteBooking" parameterType="Long">
        DELETE FROM orders WHERE oid=#{oid};
    </delete>

    <select id="show" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM orders WHERE oid=#{oid};
    </select>

    <insert id="overBooking" parameterType="xechy.work.model.Order">
        INSERT INTO orders (state,price,gname,id,bid,odate)
        VALUES (#{state},#{price},#{gname},#{id},#{bid},#{odate});
    </insert>

    <update id="updateBooking" parameterType="xechy.work.model.Order">
        UPDATE orders SET state=#{state} WHERE oid=#{oid} AND (id=#{id} OR bid=#{bid});
    </update>

    <select id="searchById" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM orders WHERE id=#{id}
    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE * FROM orders WHERE oid=#{oid};
    </delete>

</mapper>