<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.Order">
        <id column="oid" property="oid" jdbcType="BIGINT" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="odate" property="odate" jdbcType="DATE" />
        <!--<result column="obusiness" property="bid" jdbcType="INT" />-->
        <!--<result column="ouser" property="id" jdbcType="INT" />-->
        <!--<result column="ogoods" property="gid" jdbcType="INT" />-->
        
        <!--多对一的关系-->
        <association property="obusiness" javaType="Business">
            <id column="bid" property="bid" jdbcType="BIGINT" />
        </association>
        <association property="ouser" javaType="User">
            <id column="id" property="id" jdbcType="BIGINT" />
        </association>
    </resultMap>


    <delete id="deleteBooking" parameterType="Long">
        DELETE FROM order WHERE oid=#{oid};
    </delete>
    
    <select id="show" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM order WHERE oid=#{oid};
    </select>

    <insert id="overBooking" parameterType="xechy.work.model.Order">
        INSERT INTO order (state,odate,bid,id,gid) WHERE (#{state},#{odate},#{bid},#{gid});
    </insert>

    <update id="updateBooking" parameterType="xechy.work.model.Order">
        UPDATE order SET state=#{state} WHERE oid=#{oid} AND (id=#{id} OR bid=#{bid});
    </update>

    <select id="searchById" resultMap="BaseResultMap" parameterType="Long">
        SELECT * FROM order WHERE id=#{id}
    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE * FROM order WHERE oid=#{oid};
    </delete>

</mapper>