<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="xechy.work.dao.UserMapper">
    <resultMap id="BaseResultMap" type="xechy.work.model.User">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="mail" property="mail" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="DATE" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <!--一对多的关系-->
        <collection property="uOrder" ofType="Order">
            <id column="oid" property="oid" jdbcType="BIGINT" />
        </collection>
    </resultMap>
    <select id="login" resultMap="BaseResultMap" parameterType="xechy.work.model.User">
        SELECT id,name FROM user where name=#{name} and password=#{password}
    </select>

    <insert id="saveUser" parameterType="xechy.work.model.User">
        INSERT INTO user (name,password,phone,mail,date,sex)
        VALUES (#{name},#{password},#{phone},#{mail},#{date},#{sex});
    </insert>

    <select id="show" resultMap="BaseResultMap" parameterType="Long">
        SELECT id,name,mail,address,phone,date,sex from user where id=#{id};
    </select>

    <update id="updatePassword" parameterType="xechy.work.model.User">
        UPDATE user SET password=#{password}
        WHERE id=#{id};
    </update>

    <update id="update" parameterType="xechy.work.model.User">
        UPDATE user SET name=#{name},mail=#{mail},address=#{address},
        phone=#{phone},sex=#{sex} WHERE id=#{id};
    </update>

    <select id="receivePassword" resultMap="BaseResultMap" parameterType="xechy.work.model.User">
         SELECT id from user where mail=#{mail} AND phone=#{phone};
    </select>

    <select id="searchAll" resultMap="BaseResultMap" >
        SELECT * FROM user;
    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE * FROM user WHERE id=#{id};
    </delete>

    <select id="checkName" resultMap="BaseResultMap" parameterType="String">
        SELECT id FROM USER WHERE name=#{name};
    </select>

</mapper>